
.aside-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile-view {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-size: 1rem;
}

.profile-icon {
  width: 100px;
  border-radius: 10px;
}

.profile-view span {
  margin: 10px 0px 0px 10px;
}

.profile-view p {
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.playlist-options,
.config-options {
  list-style: none;
  font-family: "Montserrat";
  padding-top: 1rem;
  border-top: solid 1px var(--text-secondary);
  width: 50%;
}

.playlist-options li,
.config-options li {
  margin: 0.5rem 0rem 0.5rem 0rem;
  font-family: 'Montserrat';
}

@media (max-width: 900px) {

  .playlist-options, .config-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .875rem;
    border-style: none;
    margin-top: 0px;
    padding-top: 0px;
  }

  .playlist-options li, .config-options li {
    margin-left: 10px;
  }

  .profile-icon {
    width: 60px;
  }

}

@media (max-width: 600px) {
  .playlist-options, .config-options {
    background-color: tomato;
    display: none;
  }

  nav {
    font-size: 20px;
    margin-right: 50px;
  }

  .aside-bar {
    flex-direction: row;
  }
}
.playlist-options a, .config-options a, .profile-view a {
  margin-left: 8px;
}

.profile-view p{
  margin-top: 10px;
  cursor: pointer;
}

a {
  color: var(--text-primary);
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

a:hover {
  opacity: 1;
}


