:root { 
  --primary: #040517;
  --text-primary: #e5e5e5e7;
  --text-secondary: #f5f5f555;
  --scroll: rgb(32, 15, 86);
  }

.aside-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.profile-view {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-size: 1rem;
  word-break: break-all;
  text-align: start;
}

.profile-icon {
  width: 100px;
  border-radius: 10px;
}

.profile-view span {
  margin: 10px 0px 0px 10px;
}

.profile-view p {
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.playlist-options,
.config-options {
  list-style: none;
  font-family: "Montserrat";
  margin: 2rem 0rem 1rem 3rem;
  padding-top: 1rem;
  border-top: solid 1px var(--text-secondary);
  width: 50%;
}

.playlist-options li,
.config-options li {
  margin: 0.5rem 0rem 0.5rem 0rem;
  font-family: 'Montserrat';
}

.playlist-options a, .config-options a, .profile-view a {
  margin-left: 8px;
}

.profile-view p{
  margin-top: 10px;
}

a {
  color: var(--text-primary);
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

a:hover {
  opacity: 1;
}


