
.featured-playlist {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  margin-left: 2rem;
}

.featured-playlist .img {
  width: 20em;
  height: 15em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 1.5rem 0rem 0rem 0rem;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

.stardust .img {
  background-image: url(/assets/playlist1.jpg);
}

.mikevella .img {
  background-image: url(/assets/playlist2.jpg);
}

.best-singles .img {
  background-image: url(/assets/playlist3.jpg);
}

.indie .img {
  background-image: url(/assets/playlist4.jpg);
}

.featured-playlist .img {
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

.featured-playlist .img:hover {
  opacity: 1;
}

.featured-playlist::-webkit-scrollbar {
  height: 10px;
}
.featured-playlist::-webkit-scrollbar-track-piece  {
background-color: var(--primary);
}
.featured-playlist::-webkit-scrollbar-thumb:horizontal {
  height: 30px;
  background-color: var(--scroll);
  -webkit-border-radius: 1ex;
}
.featured-playlist span, .featured-playlist p {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  margin: .875rem 0rem 0rem 0rem;
}

.featured-playlist p {
  color: gray;
  font-size: .875rem;
}

.featured-playlist span {
  color: #e5e5e5e7;
  margin-bottom: 1rem;
}

.stardust, .mikevella, .best-singles, .indie {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}