.featured-playlist {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  margin-left: 2rem;

}

.featured-playlist img {
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

.featured-playlist img:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track-piece  {
background-color: rgb(32, 15, 96);
}
::-webkit-scrollbar-thumb:horizontal {
  height: 30px;
  background-color: rgb(32, 15, 56);
  -webkit-border-radius: 1ex;
}

.featured-playlist img {
  max-width: 24em;
  border-radius: 10px;
  margin: 1.5rem 0rem 0rem 0rem;
  cursor: pointer;
}

.featured-playlist span, .featured-playlist p {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  margin: .875rem 0rem 0rem 0rem;
}

.featured-playlist p {
  color: gray;
  font-size: .875rem;
}

.featured-playlist span {
  color: #e5e5e5e7;
}

.stardust, .mikevella, .best-singles, .indie {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}