:root { 
  --primary: #040517;
  --text-primary: #e5e5e5e7;
  --text-secondary: #f5f5f555;
  --scroll: rgb(32, 15, 86);
  }

.container-views {
  font-family: "Montserrat";
  margin-left: 2rem;
}

/* IMG CONFIGS */
.container-views .img {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  margin-top: 1rem;
  margin-right: 0.5rem;
  background-size: cover;
  cursor: pointer;
}

.v1 .img {
  background-image: url(/assets/view1.jpg);
}

.v2 .img {
  background-image: url(/assets/view2.jpg);
}

.v3 .img {
  background-image: url(/assets/view3.jpg);
}

.view {
  display: flex;
  align-items: center;
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

.view:hover {
  opacity: 1;
}

.info p {
  color: var(--text-primary);
  font-size: .875rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.view span {
  font-size: .6rem;
  margin-right: 5rem;
  color: var(--text-secondary);
}